
<nav class="navbar navbar-inverse" >
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'lab-10:index' %}">Home/Session</a></li>
	  <li><a href="{% url 'lab-10:movie_list' %}"> Movie-List </a></li>
	  <li><a href="{% url 'lab-10:list_watch_later' %}">Watch-Later</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li id = "LogOutBut"></li>
    </ul>
  </div>
</nav>

