{% extends "lab_8/layout/base.html" %}
{% block content %}
<section name="postFeed" id="postFeed">
	</br>
	</br>
	<h1 style="text-align:center; color:green"> Welcome to My Web </h1>
    <div class="container" >
		</br>
		<h2 style="color:brown;text-align:center;"> Login to Facebook?</h2>
			<div id = "lab8" style = "padding-top:10px; font:normal">
			</div>
    </div>
</section>

{% endblock %}
