{% extends "lab_4/layout/base.html" %}

{% block content %}
<h1 style = "color:DarkTurquoise; text-align:center">Portofolio</h1>
<hr>
<style>
#stylegambar{
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
	height : 300px;
	width : 300px;
}
</style>

<img id="stylegambar" src = "http://oi68.tinypic.com/288owb6.jpg" alt = "Picture of Winston Chandra" >
<section name="bio">
	<h2 style = "color:DeepSkyBlue">Bio</h2>
	<p style = "color:Navy">
		{{content}}
	</p>    
</section>
<hr/>
<section name="about_me">
	<h2 style = "color:IndianRed">Personality</h2>
	<ul>
		{% for ii in about_me %}
		<li style = "color:GoldenRod"> {{ ii }} </li>
		{% endfor %}
	</ul>
</section>
<hr/>
<hr>
<section name="form">
	<h2 style = "color:LawnGreen">Send Message</h2>
	<form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
		{% csrf_token %}
		{{ message_form }}
		<br>
		<button style="background-color:LightGoldenRodYellow" type="submit" class="btn btn-default">Submit</button>
	</form>
</section>
<hr/>
{% endblock %}
