
<nav class="navbar navbar-inverse" >
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active" style="background-color:lightblue"><a href="{% url 'lab-9:index' %}">Home/Session</a></li>
      <li><a href="{% url 'lab-9:cookie_login' %}">Cookie</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li id = "LogOutBut"></li>
    </ul>
  </div>
</nav>

