<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<?php
echo "My first PHP script!";
?>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>I am {{ umur }} years old</article>
 </body>
</html>
